.pacman-map {
  display: flex;
  flex-flow: row wrap-reverse;
  &__cell {
    width: 3 * $radius;
    height: 3 * $radius;
    border: 1px solid lightseagreen;
    box-sizing: border-box;
    font-size: small;
    margin: -1px auto;
  }
}